.appDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.dragDropDox{
    border: 2px dashed;
    display: flex;
    justify-content:center;
    align-items:center;
    width: 30rem;
    height: 10rem;
}

#optionSelection{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}