.appPage{
  display: grid;
  
}

.appSection{
  margin-top: 2.5rem;
  border-radius: 5px;
  border-width: 1px;
  border-style:inset;
  background: var(--app-bg);
  width: 30rem;
  padding: 1.5rem 0;
}